{% extends "recruiters/layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% load mytags %}

{% block head %}
    <link href="{% static 'recruiters/styles-job.css' %}" rel="stylesheet">
    <link href="{% static 'recruiters/styles-candidates.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
    {% if stage_form.errors %}
        <div class="alert alert-danger">
            <strong>Oops! We got the following errors:</strong>
            <ul>
                {% for field in stage_form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {% for error in stage_form.non_field_errors %}
                <li>
                    {{ error|escape }}
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form action="{% url 'recruiters:create_interview_slots' job.id stage.id %}" id="create_slots_form" class="page" method="post">
        {% csrf_token %}

        {% if slot_group_form.errors %}
            <div class="alert alert-danger">
                <strong>Oops! We got the following errors:</strong>
                <ul>
                    {% for error in interview_stage_form.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}

                </ul>
            </div>
        {% endif %}
        {% for field in slot_group_form %}
            {% in_str field.name "number_Of_Slots" "min_Gap_Between" as small_input %}
            {% if small_input %}
                <div class="input-field-parent small">
                    <div class="input-field-label">{{ field.label }}</div>
                    {{ field|add_class:"input-field" }}
                </div>
            {% else %}
                <div class="input-field-parent">
                    <div class="input-field-label">{{ field.label }}</div>
                    {{ field|add_class:"input-field" }}
                </div>
            {% endif %}
        {% endfor %}
        <div class="container">
            {% for day in interview_daily_forms %}
                <div class="navbar form-row">
                    <!-- render day.check, day.start, day.end, day.day all in a single row -->
                    <div style="width: 20px;">
                        {{ day.check|add_class:"input-field" }}
                    </div>
                    <div class="input-field-parent small">
                        <div class="input-field-label"></div>
                        {{ day.day|add_class:"inactive-input input-field" }}
                    </div>
                    <div class="input-field-parent small">
                        <div class="input-field-label">{{ day.start_Time.label }}</div>
                        {{ day.start_Time|add_class:"input-field" }}
                    </div>
                    <div class="input-field-parent small">
                        <div class="input-field-label">{{ day.end_Time.label }}</div>
                        {{ day.end_Time|add_class:"input-field" }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div style="width: 100%; text-align: center; height:100px">
            <button type="submit" class="button" id="job-form-submit">Submit</button>
        </div>
    </form>

{% endblock %}