{% load static %}
{% load widget_tweaks %}
{% load mytags %}


<div class="job-details"> 
    <div class="job-field">
        <div class="job-field label">Job Description </div>
        <div class="job-field data">{{ job.description }}</div>
    </div>
    
    <div class="job-field">
        <div class="job-field label">Salary Range </div>
        <div class="job-field data">{{ job.salary_Range }}</div>
    </div>

    <div class="job-field">
        <div class="job-field label">Work Type </div>
        <div class="job-field data">{{ job.get_work_Type_display }}</div>
    </div>

    <div class="job-field">
        <div class="job-field label">Work Site </div>
        <div class="job-field data">{{ job.get_work_Site_display }}</div>
    </div>

    <div class="job-field">
        <div class="job-field label">Created On </div>
        <div class="job-field data">{{ job.start_Date }}</div>
    </div>

    <div class="job-field">
        <div class="job-field label">Application Deadline </div>
        <div class="job-field data">{{ job.end_Date }}</div>
    </div>

    <div class="job-field">
        <div class="job-field label">Created By </div>
        <div class="job-field data">{{ job.created_By }}</div>
    </div>
</div>