{% extends "applicants/layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <link href="{% static 'applicants/css/job_card.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <h2 class="text-center">Open Positions</h2>
    {% for job in jobs %}
        {% if forloop.counter0|divisibleby:3 %} <div class="row z-center cards"> {%  endif %}
            <div class="col-md-4">
                <div class="card-parent">
                    <a href="{% url 'applicants:job' job.id %}">
                        <div class="card" id="cardContainer">
                            <img class="card-child" alt="" src="{% static 'recruiters/icon-candidates.png' %}" />
                
                            <div class="card-text-container">
                            <div class="card-title-parent">
                                <div class="card-title">
                                {{ job.title }}
                                </div>
                                <div class="card-description">
                                {{ job.description | slice:":180"}}...
                                </div>
                            </div>
                            <div class="card-price-tag">
                                {{ job.salary_Range }}
                            </div>
                            </div> <!-- card-text-container -->
                        </div> <!-- card -->
                    </a> 
                </div> <!-- card-parent -->
            </div> <!-- col-md-4 -->
        {%  if forloop.counter|divisibleby:3 or forloop.last %}</div><!-- row closing --><hr>{%  endif %}
    {% endfor %}
{% endblock %}