{% extends "applicants/layout.html" %}

{% block main %}
    <form action="{% url 'applicants:application' applicant_id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 style="text-align: center;">Application  Form</h1>
        <div>
            <h2>Personal Information</h2>
            <div class="form-group-not-editable">
                <label>First Name </label>
                {{ applicant.first_Name }}
            </div>
            <div class="form-group-not-editable">
                <label>Last Name </label>
                {{ applicant.last_Name }}
            </div>
            <div class="form-group-not-editable">
                <label>Email </label>
                {{ user.email }}
            </div>
            <div class="form-group">
                <label>Date of birth* </label>
                {{ profile_form.date_Of_Birth }}
            </div>
            <div class="form-group">
                <label>Phone Number* </label>
                {{ profile_form.phone }}
            </div>
            <div class="form-group">
                <label>CNIC* </label>
                {{ profile_form.national_ID }}
            </div>
        </div>
        <div>
            <h2>Documents</h2>
            <div class="form-group-upload">
                <label>Resume </label>
                {{ profile_form.photo }}
            </div>
            <div class="form-group-upload">
                <label> Photo </label>
                {{ profile_form.resume }}
            </div>
        </div>
        <div>
            <h2>References</h2>
            {{ references_formset.management_form }}
            <div id="references-form_set">
                {% for form in references_formset.forms %}
                    <div id="{{form.prefix}}">
                        <table class='no_error'>
                            {{ form.platform_ID }}
                            {{ form.profile_URL}}
                            {{ form.DELETE }}
                            <input type="button" value="Delete" class="delete-form" data-prefix="{{form.prefix}}">
                        </table>
                    </div>
                {% endfor %}
            </div>
            <input type="button" value="Add More" class="add_more">
            <div id="references-empty_form" style="display:none">
                    <table class='no_error'>
                        {{ references_formset.empty_form.platform_ID }}
                        {{ references_formset.empty_form.profile_URL }}
                        {{ references_formset.empty_form.DELETE }}
                        <input type="button" value="Delete" class="delete-form">
                    </table>
            </div>
            <script type="text/javascript">
                
                $(document).ready(function() {
                    add_more();
                    add_delete();
                });

                function add_form (prefix){
                    var form_idx = $(`#id_${prefix}-TOTAL_FORMS`).val();
                    var newel = $(`#${prefix}-empty_form`).html().replace(/__prefix__/g, form_idx);
                    // create a div with id = form_idx
                    var newElParent = $(`<div id="${prefix}-${form_idx}"></div>`);
                    // append newel to newElParent
                    // add data to delete-form button
                    newElParent.append(newel);
                    $(`#${prefix}-form_set`).append(newElParent);
                    $(`#id_${prefix}-TOTAL_FORMS`).val(parseInt(form_idx) + 1);
                    add_delete();
                }

                function add_more () {
                    $('.add_more').each(function (index) {
                        $('.add_more').click(function() {
                            const prefix = $(this).siblings('div').attr('id').split('-')[0];
                            console.log(prefix);
                            console.log('clikced')
                            add_form(prefix);
                        });
                    });
                }
                // add event listener to change in html
                function add_delete () {
                    $('.delete-form').each(function (index) {
                        $('.delete-form').click(function() {
                            // change forms display to none
                            const prefix = $(this).closest('div').attr('id');
                            console.log(prefix);
                            $(`#id_${prefix}-DELETE`).prop('checked', true);
                            $(`#${prefix}`).css('display', 'none');
                        });
                    });
                }
                add_delete();
            </script>
        </div>
        <div>
            <h2>Education</h2>
            <div class="form-group">
                <label>Select level* </label>
                {{ education_form.ed_Level }}
            </div>
            <div class="form-group">
                <label>Education field* </label>
                {{ education_form.field_Name }}
            </div>
            <div class="form-group">
                <label>Institute* </label>
                {{ education_form.institute_Name }}
            </div>
            <div class="form-group">
                <label>Graduation Year* </label>
                {{ education_form.graduation_Year }}
            </div>
        </div>
        <div>
            <h2>Experience</h2>
            <div class="form-group">
                <label>Company Name </label>
                {{ experience_form.company_Name }}
            </div>
            <div class="form-group">
                <label>Job Title </label>
                {{ experience_form.job_Title }}
            </div>
            <div class="form-group">
                <label>Start Date </label>
                {{ experience_form.start_Date }}
            </div>
            <div class="form-group">
                <label>End Date </label>
                {{ experience_form.end_Date }}
            </div>
            <div class="form-group">
                <label>Job Description </label>
                {{ experience_form.job_Description }}
            </div>
            <div class="form-group">
                <label>Reason For Leaving </label>
                {{ experience_form.reason_For_Leaving }}
            </div>
            <div class="form-group">
                <label>Job Salary </label>
                {{ experience_form.salary }}
            </div>
            <div class="form-group-upload">
                <label>Salary slip* </label>
                {{ experience_form.job_Slip }}
            </div>
        </div>
        <div>
            <h2>Skills</h2>
            <div class="form-group">
                <label>Skills Name* </label>
                {{ skills_form.skill_Name }}
            </div>
            <div class="form-group">
                <label>Certification* </label>
                {{ skills_form.certificate }}
            </div>
        </div>
        <input type="submit" value="Submit">
    </form>    
    
{% endblock %}