<div class="container">
            
    <div class="row">
        <div class="col-md-4">
            <div class="block-wrapper">
                <div class="block title" >Job ID</div>
                <div class="block">{{ job.id }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block-wrapper">
                <div class="block title">Posted on</div>
                <div class="block">{{ application.start_Date }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block-wrapper">
                <div class="block title">Application deadline</div>
                <div class="block">{{ application.end_Date }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block-wrapper">
                <div class="block title">Work site</div>
                <div class="block">{{ job.get_work_Site_display }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block-wrapper">
                <div class="block title">Work type</div>
                <div class="block">{{ job.get_work_Type_display }}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block-wrapper">
                <div class="block title">Salary range</div>
                <div class="block">{{ job.salary_Range }}</div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="verbose-description-container">
    <div class="row">
        <div class="col-md-8">
            <div class="description-block first">
                <h3 style="font-weight: bold;">Overview</h3>
                <div class="text">
                    {{ job.overview|safe }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="description-block second">
                <h3 style="font-weight: bold;">Qualifications</h3>
                <div class="text">
                    {{ job.qualifications|safe }}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="description-block first">
                <h3 style="font-weight: bold;">Responsibilites</h3>
                <div class="text">
                    {{ job.responsibilities|safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        
    </div>
    
</div>