{% extends "applicants/layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <link href="{% static 'applicants/css/job_card.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <h2 class="text-center">Open Positions</h2>
    <div class="container">
		<div class="row">
			{% for job in jobs %}
				<div class="col-md-4">
					<a href="{% url 'applicants:job' job.id %}">
						<div class="card-parent">
							<div class="card" id="cardContainer">
							  <img class="card-child" alt="" src="{% static 'recruiters/career-search.png' %}" />
				  
							  <div class="card-text-container">
							  <div class="card-title-parent">
								  <div class="card-title">
								  {{ job.title }}
								  </div>
								  <div class="card-description">
								  {{ job.overview| safe | slice:":150"}}...
								  </div>
							  </div>
							  <div class="card-price-tag">
								  {{ job.salary_Range }}
							  </div>
							  </div> <!-- card-text-container -->
							</div> <!-- card -->
						</div>
					</a> 
				</div>
		  {% endfor %}

		</div>
    </div> <!-- container -->
{% endblock %}