{% extends "applicants/layout.html" %}

{% load static %}
{% load widget_tweaks %}

{% block head %}
    <link href="{% static 'applicants/css/job-description.css' %}" rel="stylesheet">
{% endblock %}


{% block main %}
        <h1>{{ job.title }}</h1>
        <style>
            #apply{
                margin-top: 75px;
            }
        </style>
        <div class="container">
            <a href="{% url 'applicants:apply_for_job' job.id %}" class="button-primary" id="apply">Apply</a>
        </div>
        {% include "applicants/div_job_description.html" %}

{% endblock %}
