{% extends "applicants/layout.html" %}

{% load static %}

{% block head %}
    <style>
        .container{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: sans-serif;
            text-align: center;
        }
        .big-email-icon{
            text-align: center;
            width: 150px;
            height: 120px;
        }
        .big-success-text{
            text-align: center;
            font-size: 24px;
            color: #4CAF50;
            margin-top: 50px;

        }
    </style>
{% endblock %}

{% block main %}

    <div class="container" style="padding: 100px;">
        <div class="big-email-icon">
            <img src="{% static 'applicants/icons-email.png' %}" alt="email-icon">
        </div>
        <div class="big-success-text">
            <h1>
                Your Application has been received successfully! 
                You will be contacted shortly.
            </h1>
        </div>
    </div>

{% endblock %}