{% extends "applicants/layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% load mytags %}

{% block head %}
    <link href="{% static 'applicants/css/input-field.css' %}" rel="stylesheet">
    <script src="{% static 'applicants/js/formset.js' %}"></script>
    <style>
        .col, col-md-6{
            padding: 0 10px;
            width: fit-content;
            height: fit-content;
        }
        .form-wrapper{
            margin: 50px 0;
            /* bottom border */
            border-bottom: 1px solid black;
            padding: 50px 20px;
        }
    </style>
{% endblock %}

{% block main %}
    <form action="{% url 'applicants:application' applicant_id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <h1>Application Form</h1>
        </div>
        
        <div class="container-fluid form-wrapper">
            <h2>Personal Information</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-field-parent">
                        <div class="input-field-label">First Name</div>
                        <input type="text" name="first_Name" value="{{ applicant.first_Name }}" class="input-field inactive" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-field-parent">
                        <div class="input-field-label">Last Name</div>
                        <input type="text" name="first_Name" value="{{ applicant.last_Name }}" class="input-field inactive" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-field-parent">
                        <div class="input-field-label">Email</div>
                        <input type="text" name="first_Name" value="{{ user.email }}" class="input-field inactive" disabled>
                    </div>
                </div>
                {% if profile_form.errors %}
                    <div class="alert alert-danger">
                        <strong>Oops! We got the following errors:</strong>
                        <ul>
                            {% for field in profile_form %}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            {% for error in profile_form.non_field_errors %}
                            <li>
                                {{ error|escape }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% for field in profile_form %}
                    <div class="col-md-6">
                        {% get_class field.field.widget.input_type "input-field-parent" as parent_class %}
                        <div class="{{ parent_class }}">
                            <div class="input-field-label">{{ field.label }}</div>
                            {% is_descriptive field.name as is_descriptive %}
                            {% if field.field.widget.input_type == "file" %}
                                {{ field|add_class:"upload" }}
                            {% elif is_descriptive == "" %}
                                {{ field|add_class:"input-field" }}
                            {% else %}
                                {{ field|add_class:"input-field Textarea" }}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
        
        <div class="container-fluid form-wrapper">
            <h2>References</h2>
            {{ references_formset.management_form }}
            <div id="references-form_set" class="container">
                {% for form in references_formset.forms %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <strong>Oops! We got the following errors:</strong>
                            <ul>
                                {% for field in form %}
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                <li>
                                    {{ error|escape }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div id="{{form.prefix}}" class="formset-form row">
                        <table class="no_error">
                            <div class="col-md-6">
                                <div class="input-field-parent">
                                    <div class="input-field-label">Platform *</div>
                                    {{ form.platform_ID|add_class:"input-field" }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-field-parent">
                                    <div class="input-field-label">Profile URL *</div>
                                    {{ form.profile_URL|add_class:"input-field" }}
                                </div>
                            </div>
                            <div class="col-md-6" style="display: none;">
                                <div class="input-field-parent">
                                    <div class="input-field-label">Delete *</div>
                                    {{ form.DELETE|add_class:"input-field" }}
                                </div>
                            </div>
                            <div class="col-md-12 text-start">
                                    <img src="{% static 'applicants/images/delete.png' %}" alt="Delete" class="delete-form icon big">
                            </div>
                        </table>
                    </div>
                {% endfor %}
            </div>
            <input type="button" value="Add" id="add-references" class="button-primary">
            <div id="references-empty_form" style="display:none">
                <table class="no_error">
                    <div class="col-md-6">
                        <div class="input-field-parent">
                            <div class="input-field-label">Platform *</div>
                            {{ references_formset.empty_form.platform_ID|add_class:"input-field" }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-field-parent">
                            <div class="input-field-label">Profile URL *</div>
                            {{ references_formset.empty_form.profile_URL|add_class:"input-field" }}
                        </div>
                    </div>
                    <div class="col-md-6" style="display: none;">
                        <div class="input-field-parent">
                            <div class="input-field-label">Delete *</div>
                            {{ references_formset.empty_form.DELETE|add_class:"input-field" }}
                        </div>
                    </div>
                    <div class="col-md-12 text-start">
                        <img src="{% static 'applicants/images/delete.png' %}" alt="Delete" class="delete-form icon big">
                    </div>
                </table>
            </div>
        </div>
        <div class="container-fluid form-wrapper">
            <h2>Education</h2>
            <div class="row">
                {% if education_form.errors %}
                    <div class="alert alert-danger">
                        <strong>Oops! We got the following errors:</strong>
                        <ul>
                            {% for field in education_form %}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            {% for error in education_form.non_field_errors %}
                            <li>
                                {{ error|escape }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% for field in education_form %}
                    <div class="col-md-6">
                        {% get_class field.field.widget.input_type "input-field-parent" as parent_class %}
                        <div class="{{ parent_class }}">
                            <div class="input-field-label">{{ field.label }}</div>
                            {{ field|add_class:"input-field" }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container-fluid form-wrapper">
            <h2>Experience</h2>
            <div class="row">
                {% if experience_form.errors %}
                    <div class="alert alert-danger">
                        <strong>Oops! We got the following errors:</strong>
                        <ul>
                            {% for field in experience_form %}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            {% for error in experience_form.non_field_errors %}
                            <li>
                                {{ error|escape }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% for field in experience_form %}
                    <div class="col-md-6">
                        {% get_class field.field.widget.input_type "input-field-parent" as parent_class %}
                        <div class="{{ parent_class }}">
                            <div class="input-field-label">{{ field.label }}</div>
                            {% is_descriptive field.name as is_descriptive %}
                            {% if field.field.widget.input_type == "file" %}
                                {{ field|add_class:"upload" }}
                            {% elif is_descriptive == "" %}
                                {{ field|add_class:"input-field" }}
                            {% else %}
                                {{ field|add_class:"input-field Textarea" }}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        
        <div class="container-fluid form-wrapper">
            <h2>Skill Certifications</h2>
            {{ skills_formset.management_form }}
            <div id="skills-form_set" class="container">
                {% for form in skills_formset.forms %}

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <strong>Oops! We got the following errors:</strong>
                            <ul>
                                {% for field in form %}
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                <li>
                                    {{ error|escape }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div id="{{form.prefix}}" class="formset-form row">
                        <table class="no_error">
                            <div class="col-md-6">
                                <div class="input-field-parent">
                                    <div class="input-field-label">Skill Name *</div>
                                    {{ form.skill_Name|add_class:"input-field" }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-field-parent">
                                    <div class="input-field-label">Certificate *</div>
                                    {{ form.certificate|add_class:"upload" }}
                                </div>
                            </div>
                            <div class="col-md-6" style="display: none;">
                                <div class="input-field-parent">
                                    <div class="input-field-label">Delete *</div>
                                    {{ form.DELETE|add_class:"input-field" }}
                                </div>
                            </div>
                            <div class="col-md-12 text-start">
                                    <img src="{% static 'applicants/images/delete.png' %}" alt="Delete" class="delete-form icon big">
                            </div>
                        </table>
                    </div>
                {% endfor %}
            </div>
            <input type="button" value="Add" id="add-skills" class="button-primary">
            <div id="skills-empty_form" style="display:none">
                <table class="no_error">
                    <div class="col-md-6">
                        <div class="input-field-parent">
                            <div class="input-field-label">Skill Name *</div>
                            {{ skills_formset.empty_form.skill_Name|add_class:"input-field" }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-field-parent">
                            <div class="input-field-label">Certificate *</div>
                            {{ skills_formset.empty_form.certificate|add_class:"upload" }}
                        </div>
                    </div>
                    <div class="col-md-6" style="display: none;">
                        <div class="input-field-parent">
                            <div class="input-field-label">Delete *</div>
                            {{ skills_formset.empty_form.DELETE|add_class:"input-field" }}
                        </div>
                    </div>
                    <div class="col-md-12 text-start">
                        <img src="{% static 'applicants/images/delete.png' %}" alt="Delete" class="delete-form icon big">
                    </div>
                </table>
            </div>
        </div>
        
        <div class="text-center">
            <input type="submit" value="Submit" class="btn btn-primary button-primary">
        </div>
    </form>
{% endblock %}
