{% extends "recruiters/layout.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'applicants/css/job_card.css' %}" rel="stylesheet">
{% endblock %}

{% block head_content %}
  <div style="height: 100px;">
    <a href="{% url 'recruiters:create_job' %}">
      <button class="button" id="post-job">Post Job</button>
    </a>
  </div>
{% endblock %}

{% block content %}
 	<div class="container">
		<div class="row">
			{% for job in jobs %}
				<div class="col-md-4">
					<a href="{% url 'recruiters:job' job.id %}">
						<div class="card-parent">
							<div class="card" id="cardContainer">
							  <img class="card-child" alt="" src="{% static 'recruiters/career-search.png' %}" />
				  
							  <div class="card-text-container">
							  <div class="card-title-parent">
								  <div class="card-title">
								  {{ job.title }}
								  </div>
								  <div class="card-description">
								  {{ job.overview| safe | slice:":150"}}...
								  </div>
							  </div>
							  <div class="card-price-tag">
								  {{ job.salary_Range }}
							  </div>
							  </div> <!-- card-text-container -->
							</div> <!-- card -->
						</div>
					</a> 
				</div>
		  {% endfor %}

		</div>
    </div> <!-- container -->
{% endblock %}