/* CSS variables */
:root{
    --primary-color-light: #FF8C00;
    --primary-color-dark: #f16825;
    /* fonts */
    --text-s-regular: 400 12px/16px var(--font-poppins);
    --font-poppins: Poppins;
    --font-inter: Inter;


  
    /* font sizes */
    --text-s-regular-size: 12px;
    --text-l-regular-size: 16px;
    --heading-s-size: 20px;
  
    /* Colors */
    --neutral-10: #fff;
    --neutral-70: #757575;
    --neutral-100: #0a0a0a;
    --neutral-80: #616161;
    --primary-color: #f16825;
    /* Colors */
    --fadetext: #757575;
    --t1: rgba(0, 0, 0, 0.2);
    --t2: #fff;
    --color-gray-100: rgba(255, 255, 255, 0.5);
    
    /* Gaps */
    --gap-base: 16px;
    --gap-5xs: 8px;
    --gap-12xl: 31px;
  
    /* Paddings */
    --padding-5xl: 24px;
    --padding-xl: 20px;
  
    /* border radiuses */
    --br-6xl: 24px;
    --br-7xs: 6px;
    --br-base: 16px;
    --br-sm: 14px;    
    
    /* Effects */
    --shadow-1: 0px 1px 2px rgba(0, 0, 0, 0.12);

    /* button widths fill contents*/
    --btn-width: 100%;
}


/* build a vertical sidbar which is responsive for the. the sidebar is a list */
body{
    font-family: "Lato", sans-serif;
    background-color: white;

}
h1, h2{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: var(--primary-color);
}

h1{
    text-align: center;
    margin-top: 10px;
}

h2, h3{
    margin-top: 10px;
    margin-bottom: 30px;
}

.main{
    font-size: var(--text-l-regular-size);
    /* add newline between children  */
    
    /* add padding around self */
    padding: 10px;   
}
.topnav {
    z-index: 1;
    overflow: hidden;
    /* start from 160px */
    position: fixed;
    width: 100%;
    top: 0;
    padding-right:5%;
    background-color: white;
    height: 50px;
}
  
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    color: orange;
}
  
.topnav a.active {
    color: darkorange;
}
  
.topnav-right {
    float: right;
}

.icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.icon.big{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.delete-form{
    display: inline-block;
    cursor: pointer;
    
}


#content{
    margin-top: 70px;
}

.button-primary {
    display: inline-block;
    padding: 20px 40px;
    background-color: #fc4c02;
    color: white;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    border-radius: 4px;
    
    }

.button-primary:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}