body {
  margin: 0;
  line-height: normal;
}

input{
  outline: none !important;
  background: none !important;
  background-color: transparent !important;
  border: none !important;
  width: 100% !important;
}

input:focus {
  outline:none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* widths */
  --width-box-1: 39%;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-27xl: 46px;
  --font-size-17xl: 36px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-mid: 17px;

  /* Colors */
  --t2: #fff;
  --text: #000;
  --fade-text: #616161;
  --color-dimgray-100: #565656;
  --bg: #f2f2f2;
  --color-whitesmoke-100: #ececec;
  --inactive: #ebebeb;
  --black: #2f2f2f;
  --primary-color: #6358dc;
  --color-gainsboro: #d9d9d9;
  --color-silver-100: #c4c4c4;
  --color-silver-200: #bfbfbf;
  --color-orangered-100: #fc4c02;
  --o: rgba(252, 76, 2, 0.98);
  --colour-grey-100: #d1d5db;
  --fadetext: #757575;
  --t1: rgba(0, 0, 0, 0.2);

  /* Gaps */
  --gap-12xl: 31px;
  --gap-18xl: 37px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-4xl: 23px;
  --padding-xl: 20px;

  /* border radiuses */
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-3xs: 10px;
  --br-6xl: 25px;
  --br-mini: 15px;
}
.or-child {
  height: 4.55%;
  width: 43.54%;
  top: 47.73%;
  right: 56.54%;
  bottom: 47.73%;
  left: -0.07%;
  border-top: 1px solid var(--color-silver-200);
  box-sizing: border-box;
}
.or-child,
.or-item,
.or1 {
  position: absolute;
}
.or-item {
  height: 4.55%;
  width: 42.94%;
  top: 47.73%;
  right: -0.07%;
  bottom: 47.73%;
  left: 57.13%;
  border-top: 1px solid var(--color-silver-200);
  box-sizing: border-box;
}
.or1 {
  top: 0;
  left: 48.59%;
  line-height: 135.5%;
}
.or,
.password-child {
  position: absolute;
  height: 1.97%;
  width: var(--width-box-1);
  top: 46.28%;
  right: 32.87%;
  bottom: 51.75%;
  left: 28.18%;
}
.password-child {
  border: 0;
  background-color: var(--inactive);
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
}
.group-icon {
  position: absolute;
  height: 35.06%;
  width: 16px;
  top: 35.06%;
  right: 92.1%;
  bottom: 29.87%;
  left: 10px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b,
.form-field-label {
  position: absolute;
  top: 5px;
  left: 32px;
  line-height: 135.5%;
}
.b {
  top: 55.84%;
  font-size: var(--font-size-base);
}
.bieye-fill-icon {
  position: absolute;
  height: 28.57%;
  width: 3.28%;
  top: 41.56%;
  right: 3.13%;
  bottom: 29.87%;
  left: 93.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.remember-me1 {
  position: absolute;
  top: 0;
  left: 21.57%;
  line-height: 135.5%;
}
.check {
  cursor: pointer;
  position: absolute;
  height: 81.82%;
  width: 11.76%;
  top: 9.09%;
  right: 88.24%;
  bottom: 9.09%;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.remember-me {
  position: absolute;
  height: 1.97%;
  width: 14%;
  top: 74.66%;
  right: 62.96%;
  bottom: 23.37%;
  left: 28.18%;
}
.button-child,
.forgot-password {
  cursor: pointer;
  border: 0;
  padding: 0;
}
.forgot-password {
  background-color: transparent;
  position: absolute;
  top: 74.13%;
  left: 53%;
  font-size: var(--font-size-base);
  line-height: 135.5%;
  font-family: var(--font-poppins);
  color: var(--primary-color);
  text-align: left;
  display: inline-block;
}
.button-child {
  background-color: var(--primary-color);
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
}

.login {
  position: absolute;
  color: white;
  line-height: 135.5%;
  font-weight: 600;
}

.button-child {
  position: absolute;
  height: 6.89%;
  width: var(--width-box-1);
  top: 80.3%;
  right: 32.99%;
  bottom: 12.8%;
  left: 28.18%;
  color: var(--t2);
  /* center contents */
  display: flex;
  justify-content: center;
  align-items: center;

}
.browse-jobs {
  color: var(--primary-color);
}
.not-an-applicant-container {
  position: absolute;
  height: 1.88%;
  width: var(--width-box-1);
  top: 90.87%;
  text-align: center;
  left: 28.18%;
  font-size: var(--font-size-xl);
  line-height: 135.5%;
  display: inline-block;
  color: var(--text);
}
.welcome-to {
  margin: 0;
  font-weight: 500;
}
.jbs-applicant-portal {
  margin: 0;
  font-size: var(--font-size-27xl);
  font-weight: 900;
  color: var(--primary-color);
}
.welcome-to-jbs-container {
  margin: 0;
  position: relative;
  width: var(--width-box-1);
  top: 17.82%;
  left: 27.95%;
  line-height: 135.5%;
  display: inline-block;
  font-size: var(--font-size-17xl);
  font-family: inherit;
}
.login-with-google-child,
.search-1-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.login-with-google-child {
  width: 100%;
  right: 0;
  border-radius: var(--br-5xs);
  background-color: var(--t2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.11);
}
.search-1-icon {
  width: 16.58%;
  right: 83.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.login-with-google1 {
  position: absolute;
  top: 15.63%;
  left: 26.42%;
  line-height: 135.5%;
}
.search-1-parent {
  position: absolute;
  height: 41.03%;
  width: 28.34%;
  top: 32.05%;
  right: 35.68%;
  bottom: 26.92%;
  left: 35.98%;
}
.email-child,
.login-with-google {
  position: absolute;
  height: 6.98%;
  width: 39.41%;
  top: 34.02%;
  right: 32.41%;
  bottom: 59%;
  left: 28.18%;
}
.email-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--inactive);
}
.vector-icon {
  position: absolute;
  height: 31.17%;
  width: 4.47%;
  top: 37.66%;
  right: 92.1%;
  bottom: 31.17%;
  left: 3.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.form-field-input {
    position: absolute;
  width: 70%;
  left: 32px;
  top: 20px;
  font-size: var(--font-size-base);
  line-height: 135.5%;
  background-color: inherit;
  border: 0;
  outline: 0;
  color: inherit;
  font-family: inherit;
}
.form-field{
    position: relative;
  height: 50px;
  width: 200px;
  font-size: var(--font-size-xs);
  color: var(--fade-text);
  max-width: 400px;
  min-width: 180px;
}

.macbook-pro-16-15 {
  position: relative;
  background-color: var(--t2);
  border: 1px solid var(--text);
  box-sizing: border-box;
  width: 80vw;
  height: 40vw ;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--black);
  font-family: var(--font-poppins);
  margin: auto;
}


.no-border{
  border: 0;
  box-shadow: none;
  background-color: transparent;
  height: 60%;
}
.no-border:focus{
  border: 0;
  box-shadow: none;
  background-color: transparent;
}


.top-buffer{
    margin-top: 20px;
}
.row{
    width: 500px;
}