#apply {
    display: inline-block;
    padding: 20px 40px;
    background-color: #fc4c02;
    color: white;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    border-radius: 4px;

}
.block-wrapper {
    width:fit-content;
    padding: 50px 0;
}

.block.title {
    float:left;
    text-align: left;
    font-weight: bold;
}

.block
{
    float:right;
}
.block + .block {
    margin-left: 20px;
}
.description-block{
    padding: 20px;
}
.description-block.first{
    padding-right: 70px;
}
.description-block.second{
    background-color: gainsboro;
}

h3{
    font-size: 24px;
}

#verbose-description-container{
    margin-top: 70px;
    margin-bottom: 20px;
}
