/* Job Card */
.card-child {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-7xs) var(--br-7xs) 0 0;
    max-width: 100%;
    overflow: hidden;
    height: 200px;
    flex-shrink: 0;
    object-fit: cover;
  }
  .card-title{
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 28px;
    font-weight: 500;
  }
  .card-description {
    align-self: stretch;
    position: relative;
    font-size: var(--text-l-regular-size);
    letter-spacing: -0.01em;
    line-height: 24px;
    color: var(--neutral-80);
  }
  .card-title-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .card-price-tag {
    align-self: stretch;
    position: relative;
    font-size: var(--text-s-regular-size);
    line-height: 16px;
    color: var(--neutral-70);
    padding: 10px 0 0 0;
    text-align: left;
  }
  .card.card-text-container {
    border-radius: var(--br-7xs);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .card-text-container {
    align-self: stretch;
    background-color: var(--neutral-10);
    padding: var(--padding-5xl);
    gap: var(--gap-base);
  }
  .card{
    position: absolute;
    height: 470px;
    width: 300px;
    top: 5.4%;
    bottom: 54.55%;
    box-shadow: var(--shadow-1);
    border: 1px solid var(--neutral-70);
    box-sizing: border-box;
  }
  .card {
    cursor: pointer;
    text-align: left;
  }
.card-parent {
    position: relative;
    font-size: var(--heading-s-size);
    color: var(--neutral-100);
    font-family: var(--text-s-regular);
    width: 150px;
    height: 500px;
    margin: 10px;
  }
/* ***************** */

.col{
  height: fit-content;
  width: fit-content;
}