{% extends "recruiters/layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% load mytags %}

{% block head %}
    <style>
        body{
            background-color: white;
        }
        .form-wrapper{
            margin-bottom: 50px;
            /* bottom border */
            border-bottom: 1px solid black;
            padding: 50px 20px;
        }
        .row.block{
            margin: 20px 20px;
        }
        h3{
            margin-bottom: 50px;
        }
        .label{
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block content %}

<!-- A column for personal information and picture -->
<div class="container">
    applied to : {{ job.title }}
    <div class="container form-wrapper">
        <h3>Candidate Information</h3>
        {% for field in profile %}
            <div class="row block">
                <div class="col-md-4 label">
                    {{ field.label }}
                </div>
                <div class="col-md-8">
                        {% if field.name == "photo"%}
                            <a href="{% get_media_prefix %}{{ photo }}">File</a>
                        {% elif field.name == "resume" %}
                            <a href="{% get_media_prefix %}{{ resume }}">File</a>
                        {% else %}
                            {{ field.data }}
                        {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    
    <div class="container form-wrapper">
        <h3>Profiles</h3>
        {% for reference in references %}
            <div class="row block">
                <div class="col-md-8">
                    <a href="{{reference}}">{{ reference }}</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container form-wrapper">
        <h3>Work Experience</h3>
        {% for field in experience %}
            <div class="row block">
                <div class="col-md-4 label">
                    {{ field.label }}
                </div>
                {% if field.name == "job_Slip" %}
                    <div class="col-md-8">
                        <a href="{% get_media_prefix %}{{ job_Slip }}">Job Slip</a>
                    </div>
                {% else %}
                    <div class="col-md-8">
                        {{ field.data }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="container form-wrapper">
        <h3>Education</h3>
        {% for field in education %}
            <div class="row block">
                <div class="col-md-4 label">
                    {{ field.label }}
                </div>
                <div class="col-md-8">
                    {{ field.data }}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container form-wrapper">
        <h3>Skills</h3>
        {% for skill in skills %}
            <div class="container">
                {% for name, data, is_file in skill %}
                    <div class="row block">
                        <div class="col-md-4 label">
                            {{ name }}
                        </div>
                        {% if is_file %}
                            <div class="col-md-8">
                                <a href="{% get_media_prefix %}{{ data }}">Certificate</a>
                            </div>
                        {% else %}
                            <div class="col-md-8">
                                {{ data }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}