{% extends "recruiters/layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% load mytags %}

{% block head %}
  <link href="{% static 'recruiters/styles-job.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <form method="POST" action="{% url 'recruiters:create_job' %}">
    {% csrf_token %}
    {% if job_form.errors %}
      <div class="alert alert-danger">
        <strong>Oops! We got the following errors:</strong>
        <ul>
          {% for error in job_form.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  
    {% for field in job_form %}
      {% if field.name == "description" %}
        <div class="input-field-parent">
          <div class="input-field-label">{{ field.label }}</div>
          {{ field|add_class:"input-field Textarea" }}
        </div>
      {% else %}
        <div class="input-field-parent">
          <div class="input-field-label">{{ field.label }}</div>
          {{ field|add_class:"input-field" }}
        </div>
      {% endif %}
    {% endfor %}
    
    <div>
      <h3>Application Timeline</h3>
      {% for field in application_form %}
        <div class="input-field-parent small">
          <div class="input-field-label">{{ field.label }}</div>
          {{ field|add_class:"input-field" }}
        </div>
      {% endfor %}
    </div>
    <div style="width: 100%; text-align: center;">
        <button type="submit" class="button" id="job-form-submit">Submit</button>
    </div>
  </form>

{% endblock %}