{% extends "recruiters/layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% load mytags %}

{% block head %}
    <script src="{% static 'recruiters/js/search.js' %}"></script>
    <script src="{% static 'recruiters/js/modal.js' %}"></script>
    <link href="{% static 'recruiters/styles-job.css' %}" rel="stylesheet">
    <link href="{% static 'recruiters/styles-candidates.css' %}" rel="stylesheet">
    <link href="{% static 'recruiters/styles-modal.css' %}" rel="stylesheet">
    <link href="{% static 'recruiters/styles-search.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% include "recruiters/div_modal_email.html" %}
    <form action="" id="search_form" data-URL="{% url 'recruiters:search_candidates' %}">
        <div class="search-box">
            <img class="search-icon" alt="" src="{% static 'recruiters/icon-search.svg' %}" />
            <input class="search-your-team" type="text" name="search" id="search_query" placeholder="Search">
        </div>
        <input type="submit" value="Search" style="display: none;" id="search_button">
        <select id="search_type">
            {% for type in search_types %}
                <option value="{{ type.value }}">{{ type.verbose_name }}</option>
            {% endfor %}
        </select>
    </form>
    <div id="search_results">
        {% include "recruiters/div_candidates.html" %}
    </div>
{% endblock %}

