{% load static %}
{% load widget_tweaks %}
{% load mytags %}
<div id="modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    
    <span class="close" id="modal-close">&times;</span>
    
    <div class="modal-body">
      
      <form action="">
        <div class="input-field-parent to">
          <div class="input-field-label">To</div>
          <div class="input-field inactive">ba09ae@gmail.com</div>
        </div>
  
        <div class="input-field-parent subject">
          <div class="input-field-label">Subject</div>
          {{ email_form.subject|add_class:"input-field subject" }}
        </div>
  
        <div class="input-field-parent message">
          <div class="input-field-label">Message</div>
          {{ email_form.message|add_class:"input-field message" }}
        </div>
        <div style="width: 100%; text-align: center;">
          <button type="submit" class="button send-email">Submit</button>
        </div>
      </form>

    </div>

  </div>
</div>
